div.buttons {
	text-align: center;
	height: 300px;
	margin-top: 150px;
	max-width: 67%
}

.center_button {
	width: 50%;
	float: right;
	clear: none;
	margin-bottom: 25px;	
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 50px;
}

label {
	display: block;
	margin-bottom: 5px;
	width:90%;
}

input {
	display: block;
	margin-bottom: 5px;
	width:98%;
}

.ui-widget-style {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Raleway', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 3em;
}